{% extends "base.html" %}
{% block title %}Youtube Music App{% endblock %}

{% block content %}
<div class="container-lg">
  <div class="row justify-content-center align-items-center g-2 mt-2">
    <div class="col"></div>
    <div class="col">
      <div class="card text-start align-center" style="width: 352px">
        <img class="card-img-top center-cropped" src="{{ thumbnail }}" alt="Title">
        <div class="card-body">
          <h4 class="card-title">{{ song['snippet']['title'] }}</h4>
          <p class="card-text">Body</p>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>

</div>



{% endblock %}